body {
    background-image: url("/assets/image/background.png");
    background-size: contain;
}
input {
    background: #d4dbd5;

    font-size: 1.7vh;
    font-family: 'Candara';

    opacity: 0.75;
}
legend {
    font-family: 'Goudy Old Style';
}
textarea {
    background: #d4dbd5;

    resize: none;
    opacity: 0.75;
}

#wrap {
    position: relative;
    top: 10vh;

    width: 80vw;
    height: 75vh;
    min-width: 400px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    border: 2px rgba(55, 54, 54, 0.392) solid;
    border-radius: 12px;
    
    background: #666a589a;
}
.half {
    position: relative;
    height: 50%;
    
    text-align: center;
}
.left {
    display: none;
}
.right {
    height: 100%;
}
@media only screen and (min-width: 1100px) {
    #wrap {
        width: 80vw;
        max-width: none;
    }
    .left {
        display: block;
        float: left;

        width: 50%;
        height: 100%;
    }
    .right {
        height: 100%;
        margin-left: 50%;
    }
}


.banner-container {
    position: relative;
    top: 7.5px;
    
    width: calc(100% - 15px);
    height: calc(100% - 15px);
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    
    border-radius: 5px;
    overflow: hidden;
}
.banner {
    width: 100%;
    height: 100%;
}

.textinput-container {
    box-sizing: border-box;

    margin: 0px 5px;
    border: 2px rgb(171, 178, 146) dashed;
    border-radius: 4px;

    color: rgb(211, 216, 203);
}
.textinput-middle {
    position: relative;
    top: 30%;
    box-sizing: border-box;

    width: 80%;
    height: 40%;
    max-width: 350px;
    border: 1px black solid;
    border-radius: 5px;

    vertical-align: middle;
}
.in20px {
    position: relative;
    top: 10px;
    box-sizing: border-box;

    border: 1px black solid;
    border-radius: 5px;
    
    width: calc(100% - 20px);
    height: calc(100% - 20px);
}

#res-copy {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1;

    width: 20px;
    height: 20px;

    background-image: url("/assets/image/copy.png");
    background-size: contain;

    cursor: pointer;
    opacity: 0.5;
    transition: opacity ease-in 0.4s;
}
#res-copy:active {
    opacity: 1;
    transition: none;
}
#res-mask {
    position: absolute;
    top: 10px;
    right: 32px;
    z-index: 1;

    width: 20px;
    height: 20px;

    background-image: url("/assets/image/invisible.png");
    background-size: contain;

    cursor: pointer;
    opacity: 0.5;
    transition: opacity ease-in 0.4s;
}
#res-mask:active {
    opacity: 1;
    transition: none;   
}